<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="keywords" content="">
<meta name="copyright" content="" />
<meta name="description" content="">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>公司介绍</title>
<!-- css -->
<link rel="stylesheet" type="text/css" href="css/common.css"/>
<link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>
<body class="bgc-f3">

  <!-- index head -->
  <header class="index-head">公司介绍</header>
  <!-- index head end -->

  <!-- company-profile -->
  <article class="company-profile">
    <section class="videos">
      <video width="100%" controls="controls">
        <source src="videos/mov_bbb.mkv" type="video/mkv">
        <source src="videos/mov_bbb.mp4" type="video/mp4">
      </video>
    </section><!-- videos end -->
    <div class="writings">为了满足市场需求，本公司特在风景优美，无任何化工污染的原生态林区南川区木凉镇玉岩铺村预计规划果林1000亩（目前以流转土地种植300亩，苗圃50亩），引进福建省平和县琯溪蜜柚新品种“大三红蜜柚”，长期聘请三红蜜柚源地的资深管理、技术人员现场指导，并安排多名员工去福建平和县大三红蜜柚种植基地学习先进的管理和种植技术，以确保蜜柚品质及种苗的纯正，达到重庆人民能够亲临果林、观光旅游、现场采摘的乐趣，满足重庆人民能够品尝到最新鲜的大三红蜜柚！</div>
  </article>
  <!-- company-profile end -->

  <div class="clear h50"></div>

  <!-- common footer -->
  <footer class="index-foot">
    <a class="a1" href="index.html" title="">首页</a>
    <a class="a2" href="关于我们.html" title="">关于我们</a>
    <a class="a3" href="联系方式.html" title="">联系方式</a>
  </footer>
  <!-- common footer end -->

</body>
</html>